<%- include('partials/header') %>
<div class="container main-menu">
    <div class="content">
        <form action="/form" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" name="name" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Designation</span>
            <input type="text" name="designation" placeholder="Enter your Designation" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="email" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">WhatsApp Number</span>
            <input type="text" name="whatsappNumber" placeholder="Enter your WhatsApp number" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" name="phoneNumber" placeholder="Enter your number" required>
          </div>
          <div>
            <label for="district">District:</label><br>
            <!-- Add a dropdown with three options -->
            <div class="dropdown">
            <select id="district" name="district">
                <option value="Abbottabad District">Abbottabad District</option>
                <option value="Bajaur District">Bajaur District</option>
                <option value="Bannu District">Bannu District</option>
                <option value="Battagram District">Battagram District</option>
                <option value="Buner District">Buner District</option>
                <option value="Charsadda District">Charsadda District</option>
                <option value="Dera Ismail Khan District">Dera Ismail Khan District</option>
                <option value="Hangu District">Hangu District</option>
                <option value="Haripur District">Haripur District</option>
                <option value="Karak District">Karak District</option>
                <option value="Khyber District">Khyber District</option>
                <option value="Kohat District">Kohat District</option>
                <option value="Kolai-Palas District">Kolai-Palas District</option>
                <option value="Kurram District">Kurram District</option>
                <option value="Lakki Marwat District">Lakki Marwat District</option>
                <option value="Lower Chitral District">Lower Chitral District</option>
                <option value="Lower Dir District">Lower Dir District</option>
                <option value="Lower Kohistan District">Lower Kohistan District</option>
                <option value="Lower South Waziristan District">Lower South Waziristan District</option>
                <option value="Malakand District">Malakand District</option>
                <option value="Mansehra District">Mansehra District</option>
                <option value="Mardan District">Mardan District</option>
                <option value="Mohmand District">Mohmand District</option>
                <option value="North Waziristan District">North Waziristan District</option>
                <option value="Nowshera District">Nowshera District</option>
                <option value="Orakzai District">Orakzai District</option>
                <option value="Peshawar District">Peshawar District</option>
                <option value="Shangla District">Shangla District</option>
                <option value="Swabi District">Swabi District</option>
                <option value="Swat District">Swat District</option>
                <option value="Tank District">Tank District</option>
                <option value="Torghar District">Torghar District</option>
                <option value="Upper Chitral District">Upper Chitral District</option>
                <option value="Upper Dir District">Upper Dir District</option>
                <option value="Upper Kohistan District">Upper Kohistan District</option>
                <option value="Upper South Waziristan District">Upper South Waziristan District</option>
                <option value="Hazara Division">Hazara Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Bannu Division">Bannu Division</option>
                <option value="Hazara Division">Hazara Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Peshawar Division">Peshawar Division</option>
                <option value="Dera Ismail Khan Division">Dera Ismail Khan Division</option>
                <option value="Kohat Division">Kohat Division</option>
                <option value="Hazara Division">Hazara Division</option>
                <option value="Kohat Division">Kohat Division</option>
                <option value="Peshawar Division">Peshawar Division</option>
                <option value="Kohat Division">Kohat Division</option>
                <option value="Hazara Division">Hazara Division</option>
                <option value="Kohat Division">Kohat Division</option>
                <option value="Bannu Division">Bannu Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Hazara Division">Hazara Division</option>
                <option value="Dera Ismail Khan Division">Dera Ismail Khan Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Hazara Division">Hazara Division</option>
                <option value="Mardan Division">Mardan Division</option>
                <option value="Peshawar Division">Peshawar Division</option>
                <option value="Bannu Division">Bannu Division</option>
                <option value="Peshawar Division">Peshawar Division</option>
                <option value="Kohat Division">Kohat Division</option>
                <option value="Peshawar Division">Peshawar Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Mardan Division">Mardan Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Dera Ismail Khan Division">Dera Ismail Khan Division</option>
                <option value="Hazara Division">Hazara Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Malakand Division">Malakand Division</option>
                <option value="Hazara Division">Hazara Division</option>
                <option value="Dera Ismail Khan Division">Dera Ismail Khan Division</option>
              </select>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Tehsil</span>
            <input type="text" name="tehsil" placeholder="Enter tehsil details" required>
          </div>
          </nav>
          <div class="input-box">
            <span class="details">Constituency -Halqa </span>
            <input type="text" name="constituency" placeholder="Enter constiutency details" required>
          </div>
          </nav>
          <div class="input-box">
            <span class="details">Candidate </span>
            <input type="text" name="candidate" placeholder="Enter candidate name" required>
          </div>
        </div>
        <div class="button">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>


<!-- <form action="/form" method="post">
    <input type="text" name="name" placeholder="Name" required>
    <textarea name="description" placeholder="Description"></textarea>
    <!-- Other input fields for additional data -->
    <!-- <button type="submit">Submit</button> -->
  <!-- </form> -->